* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
/* 
Color palette used:
https://coolors.co/f9dbbd-ffa5ab-da627d-a53860-450920
*/
body {
  height: 100vh;
  width: auto;
  /* background-color: #FFA5AB; */
  background-image: linear-gradient(#DA627D, #FFA5AB);
  /* background-image: url('Image3.png'); */
  background-size: cover;
  background-position: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}

a:hover {
  color: #F9DBBD;
}

/* HEADER */
.header {
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  padding: 15px 25px;
  margin: 15px;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 3rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 3rem;
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

/* DROPDOWN MENU */

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu.open {
  height: 130px;
}

/* HOME */

section#Home {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

#Home h1 {
  font-size: 3rem;
  margin-bottom: 1rem;

}


h1 span {
  transition: 1s;
  font-size: 50px;
}

h1 span:hover {
  color: goldenrod;
  transform: translate(700px) scale(10);
}

/* Search Bar */

#Home .search-box {
  width: 600px;
  background: #fff;
  margin: 25px auto 0;
  border-radius: 40px 40px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

#Home .row {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

input {
  flex: 1;
  height: 50px;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 20px;
  color: #333;
}

button {
  background: transparent;
  border: 0;
  outline: 0;
}

button .fa-solid {
  width: 25px;
  color: #555;
  font-size: 22px;
  cursor: pointer;
}

::placeholder {
  color: #555;
}

#Home .result-box ul {
  padding: 15px 10px;
  border-radius: 50px 50px;
}

#Home .result-box ul li {
  list-style: none;
  border-radius: 5px;
  padding: 1.32rem 1rem;
  cursor: pointer;
  color: grey;
  font-weight: bolder;
  font-size: 18;
}

#Home .result-box ul li:hover {
  background: #e9f3ff;
}

#Home .result-box {
  max-height: 300px;
  overflow-y: hidden;
}

/* RESPONSIVE DESIGN */

@media(max-width:992px) {

  .navbar .links {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

@media(max-width:576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

/* TABLE */

.data-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;
  padding: 20px;
  flex-basis: content;
}


.table,
#data {
  color: #fff;
  border-collapse: collapse;
  margin: 15px 10px;
  padding: 0.5rem;
  max-width: max-content;
  font-size: 1.1rem;
  font-family: sans-serif;
}

.table {
  margin: 0 auto;
}

tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  padding: .45em;
}

th,
td {
  width: 800px;
  padding: 15px 25px;
  align-items: center;
  text-align: center;
  font-size: 1.15em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

tbody tr:hover {
  color: #450920;
}

tbody tr {
  border-bottom: 1px solid #dddddd;

}

tbody tr:nth-of-type(even) {
  background-color: #000;

}

tbody tr:last-of-type {
  border-bottom: 2px solid #009879;

}

tbody tr.active-row {
  font-weight: bold;
  color: #009879;

}

/* pagination-container */

.pagination-container {
  justify-content: center;
  margin-top: 15px;
  display: flex;
  flex-basis: content;
}

#table-container {
  display: flex;
  flex-direction: column;
  width: 900px;
}

.pagination button {
  margin: 0 10px 7px 7px;
  padding: 4px 9px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button.active {
  background-color: #4caf50;
  color: white;
}

.pagination button:hover:not(.active) {
  background-color: #ddd;
}

/* Slider */

.range-slider {
  margin: 8em auto;
  position: relative;
}

.range-slider .slider {
  -webkit-appearance: none;
  appearance: none;
  width: 1000px;
  height: 0.7em;
  outline: none;
  border-radius: 3px;
  background: #1f1f1f;
  box-shadow: 3px 3px 6px #000, inset 1px 1px 1px #909090;
}

.range-slider .slider-thumb {
  position: absolute;
  width: 1.7em;
  height: 1.7em;
  background: #090909;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  box-shadow: inset 0px 1px 2px #909090;
}

.range-slider .slider-thumb::before {
  content: '';
  position: absolute;
  width: 0.7em;
  height: 0.7em;
  background: #333;
  border-radius: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}

.range-slider .tooltip {
  position: absolute;
  width: 2.8em;
  height: 2em;
  top: -2em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #090909;
  text-align: center;
  line-height: 35px;
  color: #fff;
  border-radius: 3px;
  box-shadow: 0px 3px 10px #1f1f1f, inset 0px 1px 2px #909090;
}

.range-slider .tooltip::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 10px solid #090909;
  bottom: -0.5em;
  left: 50%;
  transform: translate(-50%);
}

.range-slider .progress {
  width: 50%;
  height: 0.4em;
  border-radius: 3px;
  background: linear-gradient(90deg, #335bf4 0%, #2ae9c9 100%);
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  left: 0;
  pointer-events: none;
}

@media screen and (max-width: 700px) {
  .neu-range-slider {
    width: 100%;
  }
}

.range-slider:hover .slider-thumb::before {
  background: #2ae9c9;
}

.range-slider .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.7em;
  height: 1.7em;
  cursor: pointer;
  z-index: 3;
  position: relative;
}


/* Graph */

#stock-graph {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  margin: 5px 5px;
}

#myChart {
  width: auto;
}


/* For the loading display  */


.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  display: none;
  width: 120px;
  height: 120px;
  margin-top: 18px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}